<h1>Welcome to Moderator Page</h1>
<% if (user) { %>
    <h3>
        <%= user.username %>
    </h3>
    <% } %>
        <a href="/auth/logout">Logout</a>
        <br>
        <a href="/auth/logout-all-devices">Logout All Devices</a>